:root{
   --dark_background_color: #200226;
   --background_color: #4A2052;
   --text_color: #F3E9FF;
   --transparent_background: rgba(236, 220, 255, 0.13);
   --form_color: #C4B7D0;
   --card_bg: rgba(32, 2, 38, 0.28);
   --background_button: rgba(255, 216, 249, 0.12);
   
}

/* header */

.header_main__1{
   background-color: var(--dark_background_color);
}

.header_text__1{
   font-size: 96px;
   width: 1200px;
   margin: auto;
   text-align: center;
   margin-block: 20px;
}

.waves_header__1{
   padding-bottom: 100px;
}

main{
   background: linear-gradient(var(--dark_background_color), var(--background_color), var(--background_color), var(--dark_background_color));
}

.descriptions__1{
   width: 1485px;
   margin: auto;
   margin-bottom: 50px;
   font-size: 40px;
   padding: 140px;
   background-color: var(--transparent_background);
   border-radius: 30px;
}

.advantage__1{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.small_block__1,
.big_block__1{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px;
   font-size: 40px;
   text-align: center;
}

.small_block__1{
   width: 500px;
   height: 400px;
   background: url(../images/BG/small_BG.png);
   background-repeat: no-repeat;
}

.big_block__1{
   width: 1015px;
   height: 560px;
   background: url(../images/BG/big_BG.png);
   background-repeat: no-repeat;
}

.reviews_block__1{
   background-color: var(--transparent_background);
   border-radius: 30px;
   padding-block: 100px;
}

.scroll__1{
   position: relative;
}

.reviews__1{
   display: flex;
   align-items: center;
   overflow: hidden;
   scroll-behavior: smooth;
   gap: 30px;
   /* transform: translate(-1000px); */
}

.review__1{
   user-select: none;
}

.left__1,
.right__1{
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 100%;
   z-index: 100;
   transition: all .2s;
   
   svg{
      width: 40px;
      height: 40px;
   }
}

.left__1{
   position: absolute;
   left: 0px;
   rotate: 180deg;
}

.right__1{
   position: absolute;
   right: 0px;
}

.left__1:hover,
.right__1:hover{
   background-color: var(--card_bg);
   backdrop-filter: blur(3px);
}

.all_reviews__1{
   width: 425px;
   height: 100px;
   font-size: 40px;
   background-color: var(--dark_background_color);
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
}

.delivery__1{
   width: 1485px;
   height: 600px;
   background-color: var(--background_color);
   font-size: 40px;
   padding-inline: 300px;
   margin: auto;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(236, 220, 255, 0.13);

   li{
      list-style-type: circle;
   }
}

.communication_buttons__1{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

.application__1,
.detailed__1{
   width: 450px;
   height: 90px;
   background-color: var(--background_button);
   margin-top: 50px;
}