:root {
   --dark_background_color: #200226;
   --background_color: #4A2052;
   --text_color: #F3E9FF;
   --transparent_background: rgba(236, 220, 255, 0.13);
   --form_color: rgba(196, 183, 208, 0.73);
   --card_bg: rgba(32, 2, 38, 0.28);
   --background_button: rgba(255, 216, 249, 0.12);
   --border_color: rgba(243, 233, 255, 0.65);
   --color_burger_menu: #DCC7F2
}

/* header */

.header_main__1 {
   background-color: var(--dark_background_color);
}

.header_text__1 {
   font-size: 96px;
   width: 1200px;
   margin: auto;
   text-align: center;
   margin-block: 20px;
}

.waves_header__1 {
   padding-bottom: 100px;
}

main {
   background: linear-gradient(var(--dark_background_color), var(--background_color), var(--background_color), var(--dark_background_color));
}

.descriptions__1 {
   width: 1485px;
   margin: auto;
   margin-bottom: 50px;
   font-size: 40px;
   padding: 140px;
   background-color: var(--transparent_background);
   border-radius: 30px;
}

.advantage__1 {
   padding-top: 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   background: url(../images/arrows.png);
}

.small_block__1,
.big_block__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px;
   font-size: 40px;
   text-align: center;
}

.small_block__1 {
   width: 500px;
   height: 400px;
   background: url(../images/BG/small_BG.png);
   background-repeat: no-repeat;
}

.big_block__1 {
   width: 1015px;
   height: 560px;
   background: url(../images/BG/big_BG.png);
   background-repeat: no-repeat;
}

.reviews_block__1 {
   background-color: var(--transparent_background);
   border-radius: 30px;
   padding-block: 100px;
   /* margin-bottom: 200px; */
}

.scroll__1 {
   position: relative;
}

.reviews__1 {
   display: flex;
   align-items: center;
   overflow: hidden;
   scroll-behavior: smooth;
   gap: 30px;
}

.review__1 {
   user-select: none;
}

.left__1,
.right__1 {
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 100%;
   z-index: 9999;
   transition: all .2s;

   svg {
      width: 40px;
      height: 40px;
   }
}

.left__1 {
   position: absolute;
   left: 0px;
   rotate: 180deg;
}

.right__1 {
   position: absolute;
   right: 0px;
}

.left__1:hover,
.right__1:hover {
   background-color: var(--card_bg);
   backdrop-filter: blur(3px);
}

.all_reviews__1 {
   padding: 24px 110px;
   font-size: 40px;
   background-color: var(--dark_background_color);
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
}


.delivery__1 {
   width: 1485px;
   margin: auto;
   height: 600px;
   background-color: var(--background_color);
   font-size: 40px;
   padding-inline: 300px;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(236, 220, 255, 0.13);
   border-radius: 30px;

   li {
      list-style-type: circle;
   }
}

.communication_buttons__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

.application__1,
.detailed__1 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   width: 450px;
   padding-block: 21px;
   background-color: var(--background_button);
   margin-top: 50px;
   --card_bg: rgba(32, 2, 38, 0.28);
}

.main__2 {
   padding-bottom: 150px;
}

.new__2 {
   width: 1486px;
   margin: auto;
}

.wave_under_product__1 {
   margin-top: 100px;
}

main {
   /* width: 1920px; */
   background: linear-gradient(var(--dark_background_color), var(--background_color), var(--background_color), var(--dark_background_color));
}

.h__2 {
   width: 1485px;
   margin: auto;
   font-size: 96px;
   color: var(--text_color);
   padding-left: 100px;
   position: relative;
   top: 40px;
   padding-top: 70px;
}



.container__2 {
   background: var(--transparent_background);
   padding: 90px 100px;
   border-radius: 30px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 160px;
   row-gap: 90px;
}

.order__2 {
   width: 562px;
   height: 673px;
   background: var(--card_bg);
   border-radius: 30px;
   padding: 24px 24px 26px 24px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content__2 {
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   padding-top: 20px;
   align-items: center;
}

.text__2 {
   font-size: 48px;
   color: var(--text_color);
}

.basket__2 {
   cursor: pointer;
}

.view__card__2 {
   cursor: pointer;
}

.footer_content__2 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 100px 0;
   padding-right: 350px;
   background: var(--dark_background_color);
   column-gap: 150px;
   position: relative;
}

.card__top__2 {
   padding-top: 170px;
}

.footer__nav__2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.list__style__2 {
   list-style: none;
}

.li__text__2:not(:first-child) {
   padding-top: 24px;
}

.li__text__2 {
   font-size: 36px;
   color: var(--text_color);
}

.social__img__2 {
   display: flex;
   align-items: center;
   column-gap: 30px;
   padding-top: 24px;
}

.line__footer__2 {
   position: absolute;
   right: 0;
   bottom: 0;
}

.explanation__2 {
   font-size: 40px;
}

.padding_top__1 {
   padding-top: 450px;
}


.header_text__2 {
   display: flex;
   align-items: center;
   font-size: 48px;
   margin: 70px 0;
   padding-left: 100px;
   column-gap: 50px;
}

a {
   cursor: pointer;
}

.card__h__2 {
   font-size: 96px;
   color: var(--text_color);
   text-align: center;
}

.container__card__2 {
   display: flex;
   background-color: var(--transparent_background);
   flex-direction: column;
   justify-content: center;
   width: 1280px;
   padding: 100px 160px;
   margin: auto;
   margin-bottom: 240px;
   border-radius: 30px;
}

.card__grid__2 {
   display: grid;
   grid-template-columns: 595px 325px;
   grid-template-rows: repeat(2, 434px);
   gap: 28px 25px;
   padding: 56px 0;
}

.grid__hui__2 {
   grid-column: 2;
}

.ul__content__2 {
   margin: auto;
   width: 1486px;
   background-color: var(--transparent_background);
   padding: 77px 0;
   padding-left: 125px;
   font-size: 48px;
   color: var(--text_color);
   border-radius: 30px;
}

.btn__center__2 {
   text-align: center;
}

.application__2 {
   padding: 24px 55px;
   background-color: var(--background_button);
   margin-top: 100px;
   --card_bg: rgba(32, 2, 38, 0.28);
   font-size: 40px;
   border-radius: 60px;
   display: flex;
   justify-self: center;
   align-self: center;
}


.wave_reviews__1 {
   box-sizing: content-box;
   height: 150px;
   width: 1370px;
   margin: auto;
   padding-top: 70px;
}

.contacts__1 {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   font-size: 48px;
   height: 500px;
   padding: 80px 43px;
   background-color: var(--transparent_background);
}

.contacts_content__1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding-inline: 40px;
   padding-bottom: 42px;
}



.contacts_content__1:not(:last-child)::before {
   content: '';
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 100%;
   height: 1px;
   position: absolute;
   display: flex;
   border-bottom: 1px solid var(--border_color);
}

.block_content__1 {
   width: 1485px;
   margin: auto;
   background-color: var(--transparent_background);
   border-radius: 30px;
}


.navigation_block__1,
.submit_application {
   opacity: 0;
   position: fixed;
   top: 0;
   right: 0;
   width: 100dvw;
   height: 100dvh;
   visibility: hidden;
   transition: all .2s linear;
}


.blackout {
   width: inherit;
   height: inherit;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.418);
}

.navigation_block_title__1 {
   text-align: center;
   margin-bottom: 50px;
}

.navigation_block_contains__1 {
   position: relative;
   z-index: 100;
   float: right;
   font-size: 40px;
   height: inherit;
   width: 800px;
   background-color: var(--dark_background_color);
   padding: 40px 120px;

   ul {
      list-style-type: none;
      display: flex;
      flex-flow: column;
      gap: 70px;
   }
}


.logo {
   width: 322px;
   height: 322px;
   margin: auto;
}

.visible_navigate .navigation_block__1 {
   visibility: visible;
   opacity: 1;
   z-index: 100;
}

.visible_navigate {
   overflow: hidden;
   padding-right: 15px;

   .open_navigate {
      right: 121px;
   }

   .open_navigate::before,
   .open_navigate::after {
      top: 0;
      left: 0;
   }

   .open_navigate::before {
      rotate: 45deg;
   }

   .open_navigate::after {
      rotate: -45deg;
   }
}

.open_navigate {
   position: absolute;
   top: 80px;
   right: 106px;
   width: 66px;
   height: 22px;
   z-index: 9999;
   cursor: pointer;
}

.open_navigate::before,
.open_navigate::after {
   content: '';
   width: 66px;
   height: 7px;
   background-color: var(--color_burger_menu);
   position: absolute;
   top: 0;
   right: 0;
   transition: all .1s;
}


.open_navigate::after {
   top: 16px;
}

.visible_form {
   overflow: hidden;
   padding-right: 15px;
}

.visible_form .submit_application{
   visibility: visible;
   opacity: 1;
}

.submit_application_content {
   width: 750px;
   height: 870px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--dark_background_color);
   padding: 40px 130px;
}

.form_submit_application{
   display: flex;
   flex-flow: column;
   gap: 20px;
}

.submit_application_title {
   font-size: 48px;
   text-align: center;
   margin-bottom: 45px;
}


.submit_application_inp {
   font-size: 40px;
   position: relative;

   label {
      position: absolute;
      z-index: 2;
      transform: translate(20px, -50%);
      left: 0;
      top: 50%;
      transition: all .2s ease-in-out;
      /* background-color: var(--blackMainBackgroundColor); */
   }

   textarea ~ label{
      position: absolute;
      z-index: 2;
      transform: translate(20px, -50%);
      left: 0;
      top: 40px;
      transition: all .2s ease-in-out;
      /* background-color: var(--blackMainBackgroundColor); */
   }



   input,
   textarea {
      font-size: inherit;
      box-sizing: border-box;
      width: 100%;
      height: 100px;
      padding: 20px 40px 20px 20px;
      border-radius: 10px;
      background-color: var(--form_color);
      color: var(--text_color);
   }

   textarea{
      height: 170px;
   }

   input:focus~label,
   input:not(:placeholder-shown)~label,
   textarea:focus~label,
   textarea:not(:placeholder-shown)~label {
      top: 0;
      font-size: 32px;
   }
}

.btn_send{
   background-color: rgba(196, 183, 208, 0.49);
   padding: 18px 80px;
   font-size: 32px;
   margin: 45px auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.close{
   position: absolute;
   cursor: pointer;
   right: 30px;
   top: 30px;
}

.section__2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.section__text__content__2 {
   background: var(--transparent_background);
   padding: 100px 134px;
   margin-top: 80px;
   margin-bottom: 60px;
   border-radius: 30px;
   width: 1486px;
}
.section__h__2, .section__text__2, .section__ul__2 {
   font-size: 48px;
   color: var(--text_color);
}
.section__text__2 {
   padding: 50px 0;
}

.section__block__h__2__1, .section__block__h__2__2, .section__block__h__2__3 {
   position: relative;
   font-size: 96px;
   z-index: 2;
   padding: 140px 0;
   font-weight: 500;
}

.section__block__h__2__1 {
   margin-top: 100px;
}

.section__block__h__2__1::after {
   position: absolute;
   content: "1";
   font-size: 450px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   opacity: 0.48;
}

.section__block__h__2__2::after {
   position: absolute;
   content: "2";
   font-size: 450px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   opacity: 0.48;
}

.section__block__h__2__3::after {
   position: absolute;
   content: "3";
   font-size: 450px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   opacity: 0.48;
}

.section__text__2__2, .section__ul__2__2, .section__sale__2__2 {
   font-size: 48px;
   color: var(--text_color);
}

.section__text__2__2 {
   padding-top: 80px;
   padding-bottom: 40px;
}

.section__sale__2__2 {
   text-align: justify;
}

.application__section__2 {
   margin: 0;
}