:root{
   --dark_background_color: #200226;
   --background_color: #4A2052;
   --text_color: #F3E9FF;
   --transparent_background: rgba(236, 220, 255, 0.13);
   --form_color: #C4B7D0;
   --card_bg: rgba(32, 2, 38, 0.28);
   --background_button: rgba(255, 216, 249, 0.12);
   
}

/* header */

.header_main__1{
   background-color: var(--dark_background_color);
}

.header_text__1{
   font-size: 96px;
   width: 1200px;
   margin: auto;
   text-align: center;
   margin-block: 20px;
}

.waves_header__1{
   padding-bottom: 100px;
}

main{
   background: linear-gradient(var(--dark_background_color), var(--background_color), var(--background_color), var(--dark_background_color));
}

.descriptions__1{
   width: 1485px;
   margin: auto;
   margin-bottom: 50px;
   font-size: 40px;
   padding: 140px;
   background-color: var(--transparent_background);
   border-radius: 30px;
}

.advantage__1{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.small_block__1,
.big_block__1{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px;
   font-size: 40px;
   text-align: center;
}

.small_block__1{
   width: 500px;
   height: 400px;
   background: url(../images/BG/small_BG.png);
   background-repeat: no-repeat;
}

.big_block__1{
   width: 1015px;
   height: 560px;
   background: url(../images/BG/big_BG.png);
   background-repeat: no-repeat;
}

.reviews_block__1{
   background-color: var(--transparent_background);
   border-radius: 30px;
   padding-block: 100px;
   margin-bottom: 200px;
}

.scroll__1{
   position: relative;
}

.reviews__1{
   display: flex;
   align-items: center;
   overflow: hidden;
   scroll-behavior: smooth;
   gap: 30px;
}

.review__1{
   user-select: none;
}

.left__1,
.right__1{
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 100%;
   z-index: 100;
   transition: all .2s;
   
   svg{
      width: 40px;
      height: 40px;
   }
}

.left__1{
   position: absolute;
   left: 0px;
   rotate: 180deg;
}

.right__1{
   position: absolute;
   right: 0px;
}

.left__1:hover,
.right__1:hover{
   background-color: var(--card_bg);
   backdrop-filter: blur(3px);
}

.all_reviews__1{
   width: 425px;
   height: 100px;
   font-size: 40px;
   background-color: var(--dark_background_color);
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
}

.delivery__1{
   width: 1485px;
   height: 600px;
   background-color: var(--background_color);
   font-size: 40px;
   padding-inline: 300px;
   margin: auto;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(236, 220, 255, 0.13);
   border-radius: 30px;
   li{
      list-style-type: circle;
   }
}

.communication_buttons__1{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

.application__1,
.detailed__1{
   font-size: 40px;
   width: 450px;
   height: 90px;
   background-color: var(--background_button);
   margin-top: 50px;
   --card_bg: rgba(32, 2, 38, 0.28);
}

.main__2 {
   padding-bottom: 150px;
}

.new__2 {
   width: 1486px;
   margin: auto;
}

.wave_under_product__1{
   margin-top: 100px;
}

main {
   /* width: 1920px; */
   background: linear-gradient(var(--dark_background_color), var(--background_color), var(--background_color), var(--dark_background_color));
}

.h__2 {
   font-size: 96px;
   color: var(--text_color);
   margin-left: 100px;
   position: relative;
   top: 40px;
   padding-top: 70px;
}

.container__2 {
   background: var(--transparent_background);
   padding: 90px 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 160px;
   row-gap: 90px;
   border-radius: 30px;
}

.order__2 {
   width: 562px;
   height: 673px;
   background: var(--card_bg);
   border-radius: 30px;
   padding: 24px 24px 26px 24px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.content__2 {
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   padding-top: 20px;
   align-items: center;
}

.text__2 {
   font-size: 48px;
   color: var(--text_color);
}

.basket__2 {
   cursor: pointer;
}

.view__card__2 {
   cursor: pointer;
}

.footer_content__2 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 100px 0;
   padding-right: 350px;
   background: var(--dark_background_color);
   column-gap: 150px;
   position: relative;
}

.card__top__2 {
   padding-top: 170px;
}

.footer__nav__2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.list__style__2 {
   list-style: none;
}

.li__text__2:not(:first-child) {
   padding-top: 24px;
}

.li__text__2 {
   font-size: 36px;
   color: var(--text_color);
}

.social__img__2 {
   display: flex;
   align-items: center;
   column-gap: 30px;
   padding-top: 24px;
}

.line__footer__2 {
   position: absolute;
   right: 0;
   bottom: 0;
}

.explanation__2 {
   font-size: 40px;
}

.padding_top__1{
   padding-top: 200px;
}


.header_text__2 {
   display: flex;
   align-items: center;
   font-size: 48px;
   margin: 70px 0;
   padding-left: 100px;
   column-gap: 50px;
}

a {
   cursor: pointer;
}

.card__h__2 {
   font-size: 96px;
   color: var(--text_color);
   text-align: center;
}

.container__card__2 {
   display: flex;
   background-color: var(--transparent_background);
   flex-direction: column;
   justify-content: center;
   width: 1280px;
   padding: 100px 160px;
   margin: auto;
   margin-bottom: 240px;
   border-radius: 30px;
}

.card__grid__2 {
   display: grid;
   grid-template-columns: 595px 325px;
   grid-template-rows: repeat(2, 434px);
   gap: 28px 25px;
   padding: 56px 0;
}

.grid__hui__2 {
   grid-column: 2;
}

.ul__content__2 {
   margin: auto;
   width: 1486px;
   background-color: var(--transparent_background);
   padding: 77px 0;
   padding-left: 125px;
   font-size: 48px;
   color: var(--text_color);
   border-radius: 30px;
}

.btn__center__2 {
   text-align: center;
}

.application__2 {
   padding: 24px 55px;
   background-color: var(--background_button);
   margin-top: 100px;
   --card_bg: rgba(32, 2, 38, 0.28);
   font-size: 40px;
   border-radius: 60px;
   display: flex;
   justify-self: center;
   align-self: center;
}